
a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.header-menu {
  width: 100vw;
  height: 40px;
  /*border-top: solid 1px grey;*/
  /*border-bottom: solid 1px grey;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: middle;
  position: fixed;
  top: 0;
  background-color: #e3e5e8;
  box-shadow: 0 1px 4px #caccce;
  z-index: 1000;
}

.header-img {
  width: 30px;
  height: 30px;
}

.header-section {
  vertical-align: middle;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-content: middle;
  justify-content: center;
  font-style: italic;
}

.header-menu-icon{
  padding-right: 5px;
}

main {
  margin-top: 40px;
}

.footer-menu {
  width: 100vw;
  height: 50px;
  /*background-color: salmon;*/
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  /*border-top: solid 1px grey;*/
  /*border-bottom: solid 1px grey;*/
  box-shadow: 0 -1px 4px #b0b1b2;
  box-sizing: content-box;
  z-index: 900;
}

.footer-menu-row {
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
  /*height: 50px;*/
}

.footer-menu-camera-row {
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*background-color: green;*/
}

.footer-menu-buttons-row {
  /*background-color: blue;*/
  /*height: 50px;*/
  width: 100%;
  position: relative;
  top: 0;
  /*border-top: solid 1px grey;*/
  /*border-bottom: solid 1px grey;*/
  /*border-left: solid 1px grey;*/
}

.footer-menu-section {
  width: 25%;
  border-right: solid 1px #caccce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  background: #e3e5e8;
  text-align: center;
  box-sizing: content-box;
}

.footer-menu-section:nth-child(4){
  border-right: none;
}

.camera-section{
  border-radius: 50%;
  width: 50px;
  border: solid 1px #b0b1b2;
  box-shadow: 0 -1px 4px #b0b1b2;
}

.menu-img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.menu-header {
  margin: 0;
  padding: 0;
}

.menu-header {
  padding-bottom: 1px;
}
.menu-community-header {
  font-size: 15px;
  padding-bottom: 1px;
}

.artworkview-interactions{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 15px;
  padding-bottom: 20px;
}

.artworkview-interaction{
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  border: solid 2px grey;
}

.artworkview-main-image{
  width: 100vw;
  height: 66vw;
  /*background-size: 100% 100%;*/
}

.artworkview-info-container{
  padding: 0 20px;
}

.artworkview-artist{
  font-style: italic;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}

.galleryview-ul{
  margin-top: 95px;
}

.galleryview-artwork-container{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: -55px;
}

.galleryview-image {
  width: 100vw;
  height: 66vw;
}

.galleryview-interactions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.galleryview-interaction {
  width: 20px;
  height: 20px;
  margin: 3px;
  border-radius: 50%;
  border: solid 1px grey;
  box-shadow: 2px 4px 5px grey;
  background-color: #f3eded;
}

.galleryview-info {
  /*width: 100vw;*/
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -54px;
  padding: 0 20px;
  background-color: rgba(206, 217, 234, .6);
  /*margin-bottom: -50px;*/
}

.artworkview-main-container{
  margin-bottom: 80px;
}

.artworkview-topbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 5px;
  /*background-color: #e3e5e8;*/
  /*box-shadow: 0 1px 4px #caccce;*/
}

.artworkview-topbar-back-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: middle;
}

.artworkview-topbar-back-arrow{
  width: 25px;
  height: 25px;
}

.artworkview-topbar-back-word {
  font-size: 13px;
  line-height: 25px;
  vertical-align: center;
  padding: 0;
  margin: 0;
}

.artworkview-topbar-interaction {
  width: 20px;
  height: 20px;
}

.commentModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  padding-top: 200px;
}

.comment-form-cotainer {
  width: 300px;
  /*height: 100px;*/
  background-color: lightgrey;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: 5px;
}

.comment-input {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.comment-input-box{
  border-radius: 5px;
  /*background-color: green;*/
  /*border-style: solid;*/
  border: solid 1px grey;
  height: 20px;
  margin: 0 10px;
}

.comment-addphoto-icon {
  height: 20px;
  width: 20px;
  background-image: url('/assets/camera_icon.png');
  background-size: 100% 100%;
}

.comment-addphoto-icon-label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: auto;
}

.comment-addphoto-icon-input {
  visibility: hidden;
  width: 2px;
  height: 2px;
}

.comment-addphoto-thumbnail-img {
  height: 30px;
  width: 30px;
}

.add-comment-button {
  border: solid 1px grey;
  width: 60px;
  height: 40px;
  margin: 5px;
  background-color: white;
}

.add-comment-saveButton {
  border: none;
  background: none;
  padding: 0;
  margin: ;
}

.add-comment-cancelButton {
  border: none;
  background: none;
  float: right;
}

.artworkview-comments-section{
  padding: 0 20px;
  margin-top: 20px;
}

.artworkview-comments-section-header{
  font-weight: bold;
  margin-bottom: 10px;
}

.artworkview-comment-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: top;
}

.artworkview-userpic-container{
  width: 20%;
}

.artworkview-comment-userpic {
  width: 55px;
  height: 55px;
  border-radius: 50%;

}

.artworkview-comment-body-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: #eaf1fc;
  border-radius: 5px;
  padding: 10px;
}

.artworkview-comment-body {
  margin-bottom: 3px;

}

.artworkview-comment-info {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-style: italic;
  /*padding: 0 10px;*/
  color: grey;
}

.artworkview-comment-date {
  margin-left: 5px;
}

.communityview-main-container {
  width: 100vw;
  margin-bottom: 80px;
  /*padding-top: 20px;*/
}

.communityview-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  padding: 0 15px;
  margin-top: 15px;
}

.communityview-userpic-container{
  /*width: 20%;*/
}

.communityview-artworkpic-container {
  /*width: 20%;*/
}

.communityview-comment-userpic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.communityview-comment-artworkpic {
  width: 55px;
  height: 55px;
}

.communityview-comment-body-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  /*margin-bottom: 15px;*/
  background-color: #eaf1fc;
  border-radius: 5px;
  padding: 10px;
}

.communityview-comment-body-container-nomural {
  width: 80%;
  display: flex;
  flex-direction: column;
  /*margin-bottom: 15px;*/
  background-color: #eaf1fc;
  border-radius: 5px;
  padding: 10px;
}

.communityview-comment-body {
  margin-bottom: 3px;

}

.communityview-comment-photoupload {
  width: 100%;
}

.communityview-comment-info {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  font-style: italic;
  /*padding: 0 10px;*/
  color: grey;
}

.communityview-comment-date {
  margin-left: 5px;
}

.communityview-worldmap {
  width: 100vw;
  height: 55vw;
  margin-bottom: 20px;
}

.communityview-comment-li {

}

.heart-map {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95px;
  left: 60px;
  opacity: 1;
  animation-name: lovemap;
  animation-duration: 6s;
  transition: ease-in-out;
  transition-property: top, left, opacity, width, height;
  animation-iteration-count: infinite;
}

@keyframes lovemap {
  0% {top: 95px; left: 60px; width: 15px; height: 15px; opacity: .9;}
  5% {top: 88px; left: 66px; width: 18px; height: 18px; opacity: .8;}
  10% {top: 82px; left: 60px; width: 21px; height: 21px; opacity: .7;}
  15% {top: 72px; left: 66px; width: 24px; height: 24px; opacity: .6;}
  20% {top: 60px; left: 53px; width: 27px; height: 27px; opacity: .5;}
  26% {top: 50px; left: 66px; width: 30px; height: 30px; opacity: .2;}
  32% {top: 30px; left: 50px; width: 33px; height: 33px; opacity: 0;}

  33% {top: 136px; left: 135px; width: 15px; height: 15px; opacity: 0;}
  34% {top: 136px; left: 135px; width: 15px; height: 15px; opacity: 1;}
  39% {top: 129px; left: 141px; width: 18px; height: 18px; opacity: .8;}
  44% {top: 123px; left: 135px; width: 21px; height: 21px; opacity: .7;}
  49% {top: 113px; left: 141px; width: 24px; height: 24px; opacity: .6;}
  54% {top: 101px; left: 128px; width: 27px; height: 27px; opacity: .5;}
  60% {top: 91px; left: 141px; width: 30px; height: 30px; opacity: .2;}
  65% {top: 71px; left: 125px; width: 33px; height: 33px; opacity: 0;}

  66% {top: 92px; left: 320px; width: 15px; height: 15px; opacity: 0;}
  67% {top: 92px; left: 320px; width: 15px; height: 15px; opacity: 1;}
  72% {top: 85px; left: 326px; width: 18px; height: 18px; opacity: .8;}
  77% {top: 79px; left: 320px; width: 21px; height: 21px; opacity: .7;}
  82% {top: 69px; left: 326px; width: 24px; height: 24px; opacity: .6;}
  88% {top: 57px; left: 313px; width: 27px; height: 27px; opacity: .5;}
  94% {top: 47px; left: 320px; width: 30px; height: 30px; opacity: .2;}
  100% {top: 27px; left: 310px; width: 33px; height: 33px; opacity: 0;}

}



.artistlistview-ul{
  margin-top: 95px;
}

.artistlistview-artist-container{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: -55px;
}

.artistlistview-artist-image {
  width: 100vw;
  height: 66vw;
}

.artistlistview-artist-info {
  /*width: 100vw;*/
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -54px;
  padding: 0 20px;
  background-color: rgba(206, 217, 234, .6);
  /*margin-bottom: -50px;*/
}

.artistlistview-artist-desc{
  display: flex;
  flex-direction: column;
}

.artistview-topbar-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 30px;
  padding: 0 5px;
}

.artistview-artworklist-ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.artistview-artworkpic{
  width: 80px;
  height: 60px;
  margin: 5px;
}

.myprofile-menu{
  margin-top: 40px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.myprofile-menu-section{
  background-color: lightgrey;
  height: 35px;
  line-height: 35px;
  background-color: #e3e5e8;
  box-shadow: 0 1px 4px #caccce;
  width: 40%;
  text-align: center;
}

.mainmenu{
  margin-top: 40px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.mainmenu-section{
  background-color: lightgrey;
  height: 35px;
  line-height: 35px;
  background-color: #e3e5e8;
  box-shadow: 0 1px 4px #caccce;
  width: 40%;
  text-align: center;
  float: right;
}

.mainmenu-section-p, .myprofile-menu-section-p{
  padding: 0;
  margin: 0;
}

.introModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  padding-top: 200px;
  z-index: 3;
}

.introSignage{
  height: 30px;
  position: relative;
  bottom: 0px;
  color: #42f4c2;
}

.camera-button-input {
  visibility: hidden;
  width: 2px;
  height: 2px;
}

.camera-button-label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
}

.camera-icon-div {
  width: 30px;
  height: 30px;
  margin: auto;
  background-image: url('/assets/camera_icon.png');
  background-size: 100% 100%;
}

