.artworkview-interactions{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.artworkview-interaction{
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
  border: solid 2px grey;
}

.artworkview-main-image{
  width: 100vw;
  height: 66vw;
  /*background-size: 100% 100%;*/
}

.artworkview-info-container{
  padding: 0 20px;
}

.galleryview-ul {
  padding-left: 0;
}

.galleryview-li {
  list-style: none;
}

.galleryview-image {
  width: 100vw;
  height: 66vw;
}

.galleryview-interactions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.galleryview-interaction {
  width: 20px;
  height: 20px;
  margin: 3px;
  border-radius: 50%;
  border: solid 1px grey;
}

.galleryview-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -50px;
  padding: 0 20px;
  background-color: rgba(206, 217, 234, .6);
}

